@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Global Values */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

body {
  font-family: system-ui, sans-serif;
}

/* About Me Container */

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#main-section-1 {
  flex: 1;
}

/* Navbar */

header > nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header > nav > div {
  margin: 2rem 4rem;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 200;
}

header > nav > ul {
  display: flex;
  gap: 3rem;
}

header > nav > ul > a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
}

/* main-section-1 */
#main-section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 4rem;
  gap: 2rem;
}

#main-section-1-title {
  font-size: 6em;
  font-weight: 600;
}

#main-section-1-below-title {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  gap: 1.2rem;
}

#main-section-1-below-title > div {
  font-size: 1.4rem;
}

#main-section-1-below-title > a > button {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: fit-content;
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background-color: #f9f9f9;
  border: none;
  outline: none;
}

#main-section-1-below-title > a > button > img {
  height: 1.5rem;
  transform: rotate(90deg);
}

/* Main Section 2 */
#main-section-2 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: black;
}

#main-section-2-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  color: white;
}

#main-section-2-heading-title {
  font-size: 3rem;
  font-weight: 800;
}

#main-section-2-heading-more {
  font-weight: 400;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

#main-section-2-heading-more > img {
  height: 1rem;
}

#collection-of-cards {
  display: flex;
  flex: 1;
  padding: 0rem 4rem 2rem 4rem;
  flex-direction: column;
  gap: 2rem;
}

.subcollection-of-cards {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  gap: 2rem;
}

.card {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card > img {
  width: 100%;
  border-radius: 30px;
}

.card-title {
  font-size: 1.4rem;
}

/* Main Section 3 */
#main-section-3 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-bottom: 12rem;
}

#main-section-3-heading {
  font-size: 3rem;
  font-weight: 800;
  padding: 2rem 4rem;
}

.project-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-card-title {
  font-size: 2rem;
  font-weight: 600;
}

.project-card-description {
  font-size: 1.4rem;
}

/* footer */
footer {
  width: 100vw;
  padding: 3rem 4rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#footer-title {
  font-size: 1.2rem;
  color: white;
}

#footer-socials-parent {
  display: flex;
  gap: 2rem;
}

.footer-social {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

@media (min-width: 768px) {
  /* Navbar */

  header > nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header > nav > ul {
    display: flex;
    margin-right: 4rem;
  }

  /* Main Section 1 */

  #main-section-1-title {
    font-size: 8em;
    font-weight: 600;
  }

  #main-section-1-below-title {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  #main-section-1-below-title > div {
    max-width: 28rem;
  }

  /* Main Section 2 */

  #collection-of-cards {
    flex-direction: row;
  }

  /* Footer */
  footer {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}
