@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Global Values */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

body {
  font-family: system-ui, sans-serif;
}

/* About Me Container */

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: blue;
}

#main-section-1 {
  flex: 1;
}

/* Navbar */

header > nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: aqua;
}

header > nav > div {
  margin: 2rem 4rem;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 200;
}

header > nav > ul {
  display: flex;
  gap: 3rem;
}

header > nav > ul > a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2em;
}

/* main-section-1 */
#main-section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 4rem;
  gap: 2rem;
}

#main-section-1-title {
  font-size: 6em;
  font-weight: 600;
}

#main-section-1-below-title {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  background-color: orange;
  gap: 1.2rem;
}

#main-section-1-below-title > div {
  font-size: 1.4rem;
}

#main-section-1-below-title > button {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: fit-content;
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

#main-section-1-below-title > button > img {
  height: 1.5rem;
  transform: rotate(90deg);
}

@media (min-width: 768px) {
  /* Navbar */

  header > nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
  }

  header > nav > ul {
    display: flex;
    margin-right: 4rem;
  }

  /* Main Section 1 */

  #main-section-1-title {
    font-size: 8em;
    font-weight: 600;
  }

  #main-section-1-below-title {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  #main-section-1-below-title > div {
    max-width: 28rem;
  }
}
